.header {
  padding: 20px 0 10px 0;
  margin: 0 5%;
  border-bottom: 1px solid #4455bb;
  font-family: sans-serif;
}

.header h1 {
  display: inline;
  color: #6977C9;
  font-size: 32px;
}

.header span {
  color: white;
  font-size: 20px;
}