.main-container {
  width: 100%;
  margin-left: 300px;
}

.main {
  display: flex;
  width: 90%;
  min-height: 84vh;
  margin: 2vh auto;
}

.menu-buttons-container {
  display: flex;
  flex-direction: column;
  width: 18%;
  padding: 20px 0 20px 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 84vh;
  overflow-y: scroll;
  padding: 20px;
}
